* {
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    text-align: center;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(23, 53, 22);
    color: white;
}

header h1 {
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 85px;
    font-weight: 800;
}

header h2 {
    padding-bottom: 80px;
    font-size: 45px;
    font-weight: 650;
}

nav {
    background-color: lightgreen;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav > a {
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: rgb(86, 209, 86);
}

nav > a:active {
    background-color: green;
}

#hamburger-icon {
    display: none;
    width: 38px;
    height: auto;
    padding: 15px 15px 8px 15px;
    cursor: pointer;
}

body {
    background-color: rgb(237, 248, 237);
}

h2 {
    font-size: 50px;
}

h3 {
    padding: 30px 0px 20px 0px;
    font-size: 38px;
}

h4 {
    font-size: 29px;
}

p {
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

li > a {
    display: inline-block;
    width: 150px;
    outline: 3px solid black;
    border-radius: 20px;
    margin: 20px;
    margin-top: 20px;
    padding: 22px;
}

li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

li > a:active {
    background-color: rgba(0, 0, 0, 0.5);
}

img, video {
    width: 100%;
    max-width: 1280px;
    height: auto;
}

#sc-img {
    max-width: 600px;
}

section {
    padding: 50px 35px 50px 35px;
}

#intro h2 {
    font-size: 32px;
}

section p {
    padding-top: 30px;
}

section > div > p {
    padding-bottom: 35px;
}

.project-info {
    padding-top: 25px;
}

.project-info p {
    padding: 0px;
}

.project-desc {
    padding: 40px 0px 40px 0px;
}

.project-links {
    padding-bottom: 50px;
}

#arpgvr-playthrough-vid {
    padding-bottom: 20px;
}

#contacts > p {
    padding-bottom: 25px;
}

@media screen and (max-width: 800px) {
    header h1 {
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 10vw;
        font-weight: 800;
    }
    
    header h2 {
        padding-bottom: 45px;
        font-size: 5.5vw;
        font-weight: 650;
    }

    nav {
        text-align: right;
    }
    
    nav a {
        display: none;
    }

    #hamburger-icon {
        display: inline-block;
    }
    
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }

    ul {
        font-size: 30px;
    }

    li > a {
        display: block;
        width: 180px;
        outline: 3px solid black;
        margin: auto;
        margin-top: 30px;
        padding: 30px;
    }

    #intro h2 {
        font-size: 25px;
    }
}