* {
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

header {
    background-color: rgb(23, 53, 22);
    color: white;
}

header h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 85px;
    font-weight: 800;
}

header h2 {
    padding-bottom: 45px;
    font-size: 45px;
    font-weight: 650;
}

nav {
    background-color: lightgreen;
    position: sticky;
    top: 0px;
}

nav > a {
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: rgb(86, 209, 86);
}

nav > a:active {
    background-color: green;
}

#hamburger-icon {
    display: none;
    width: 38px;
    height: auto;
    padding: 15px 15px 8px 15px;
    cursor: pointer;
}

body {
    background-color: rgb(237, 248, 237);
}

section {
    padding: 50px 0px 50px 0px;
}

section h1 {
    font-size: 50px;
}

section p {
    padding-top: 30px;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    header h1 {
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 10vw;
        font-weight: 800;
    }
    
    header h2 {
        padding-bottom: 45px;
        font-size: 5.5vw;
        font-weight: 650;
    }

    nav {
        text-align: right;
    }
    
    nav a {
        display: none;
    }

    #hamburger-icon {
        display: inline-block;
    }
    
    section h1 {
        font-size: 40px;
    }

    section p {
        font-size: 20px;
    }
}